@import '../../styles/mixins.scss';

$date_and_btn_color_text: rgb(255, 255, 255);
$outline-color: rgb(67, 189, 67);

.comment-page__form {
  max-height: 333px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: rgba(138, 252, 138, 0.726);
}

.comment {
  &__current-date {
    text-align: right;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
  }
  &__new-author {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline-color: rgb(67, 189, 67);
    &:focus {
      border: none;
      &::placeholder {
        color: transparent;
      }
    }

    @include sm {
      text-overflow: ellipsis;
    }

    &_empty {
      border: 2px solid rgb(255, 0, 0);
    }
  }
  &__new-text {
    font-family: inherit;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline-color: rgb(67, 189, 67);
    &:focus {
      border: none;
      &::placeholder {
        color: transparent;
      }
    }

    &_empty {
      border: 2px solid rgb(255, 0, 0);
    }
  }
}

.action__button {
  border: none;
  border-radius: 7px;
  background-color: rgba(51, 211, 51, 0.767);
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  outline: none;
  &:hover {
    background-color: green;
  }
  &:first-child {
    margin-right: 25px;
  }
}
