// .animate-rcenter {
//   position: relative;
//   animation: right-center 0.5s;
// }

// .animate-cleft {
//   position: relative;
//   animation: center-left 0.1s;
// }

// .animate-lcenter {
//   position: relative;
//   animation: left-center 0.1s;
// }

// .animate-cright {
//   position: relative;
//   animation: center-right 0.1s;
// }

// @keyframes right-center {
//   from {
//     right: -260px;
//   }
//   to {
//     right: 0;
//   }
// }

.opacity {
  animation: center-right 0.1s;
}

@keyframes opacity {
      from {
        opacity: 0;
      }
      to {
       opacity: 1;
      }
    }
    
// @keyframes center-left {
//   from {
//     right: 0;
//     width: 100%;
//   }
//   to {
//     right: 260px;
//     width: 0;
//   }
// }

// @keyframes left-center {
//   from {
//     right: 260px;
//   }
//   to {
//     right: 0;
//   }
// }

// @keyframes center-right {
//   from {
//     right: 0;
//   }
//   to {
//     right: -260px;
//   }
// }

