* {
  box-sizing: border-box;
}

html,
button {
  font-family: "MuseoSansCyrl500", Helvetica, sans-serif;
  font-size: $font-size;
  color: $main-color-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  &__content {
    max-width: 1427px;
    width: 100%;
    min-width: 1000px;
    background-color: #f8f8f8;
    border-left: 1px solid #e8e8e8;
  }
}
