$padding-top: 5px;

$border: 1px solid $light-grey-color;

.header {
  width: 100%;
  min-height: 80px;
  height: 100%;
  border-bottom: $border;
  @include flex-row-reverse;
  &__user {
    @include flex-align-center;
    flex-basis: 34%;
    border-left: $border;
    padding-top: $padding-top;
  }
  &__notification {
    @include flex-center-center;
    flex-basis: 5%;
    border-left: $border;
    padding-top: $padding-top;
  }
}

.user__photo {
  margin-left: 19px;
  margin-right: 10px;
}

.notification {
  position: relative;
  min-width: 71px;
  cursor: pointer;
  &__indicator {
    position: absolute;
    top: 29px;
    right: 25px;
    width: 9px;
    height: 9px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: $orange-red-color;
  }
}
