$green-color: #66b074;
$icon-color: #7f7f7f;
$indent: 18px;

$border: 1px solid #edf8ef;

.sidebar {
  max-width: 234px;
  width: 100%;
  position: absolute;
  right: 12px;
  &__logo {
    margin: 26px $indent;
  }
}

.link {
  @include flex-column-between;
  height: 270px;
  &__item {
    @include flex-align-center;
    max-width: 222px;
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    border-radius: $border-radius;
    padding-left: $indent;
    cursor: pointer;
    list-style: none;
    font-size: $font-size-2;
    &:hover {
      color: $green-color;
      border: $border;
      background-color: $light-green-bg-color;
      .item__icon-1,
      .item__icon-2 {
        stroke: $green-color;
      }
    }
    &_active {
      color: $green-color;
      border: $border;
      background-color: $light-green-bg-color;
      .item__icon-1,
      .item__icon-2 {
        stroke: $green-color;
      }
    }
  }
}

.item {
  @include flex-align-center;
  &__icon-1 {
    fill: none;
    stroke: $icon-color;
    @include svg-stroke-line-;
    stroke-width: 1.5px;
  }
  &__icon-exercises {
    width: 14px;
    height: 17px;
  }
  &__icon-home {
    width: 16px;
    height: 16px;
  }
  &__icon-hometasks {
    width: 20px;
    height: 15px;
    .item__icon-1,
    .item__icon-2 {
      fill: none;
      stroke: $icon-color;
      @include svg-stroke-line-;
    }
    .item__icon-1 {
      stroke-width: 1.5px;
    }
  }
  &__icon-media {
    width: 17px;
    height: 15px;
  }
  &__icon-payments {
    width: 16px;
    height: 16px;
    .item__icon-2 {
      fill: $icon-color;
    }
  }
  &__icon-settings {
    width: 17px;
    height: 17px;
  }
  &__text {
    padding-left: 10px;
  }
  &__notification {
    @include flex-center-center;
    width: 19px;
    height: 19px;
    color: #ffffff;
    font-size: 11px;
    background-color: $orange-red-color;
    border-radius: $border-radius;
    margin-left: 14px;
  }
}
