@import "./variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-body;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.instruction {
  margin: 50px 0;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  &__title {
    font-size: 30px;
  }
  &__content {
    font-size: 24px;
  }
}
