$logo-image-size: 150px;

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  &__image {
    width: $logo-image-size;
    height: $logo-image-size;
  }
}
