@import "./variables.scss";

$footer-link: rgb(85, 85, 85);
$border-color: rgb(214, 214, 214);
$count: 7;

.footer-content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  &__top {
    padding-top: 17px;
    padding-bottom: 20px;
    border-bottom: 1px solid $border-color;
  }
  &__nav-ftr {
    display: flex;
  }
  &__bootom {
    padding-top: 34px;
    padding-bottom: 21px;
    @include mobile {
      padding-top: 17px;
      padding-bottom: 19px;
    }
  }
  h3 {
    font-weight: 600;
    color: rgb(51, 51, 51);
  }
  h4 {
    font-weight: 400;
  }
  @include mobile {
    &__mobile-nav {
      flex-direction: column;
    }
  }
}

.nav-ftr {
  padding-top: 20px;
  display: flex;
  h3 {
    font-size: $footer-font-size;
    margin-bottom: 0.8rem;
    position: relative;
    @include mobile {
      font-weight: 400;
      padding: 10px 0;
      margin: 0;
      border-bottom: 1px solid $border-color;
    }
  }
  &__item {
    flex-basis: 20%;
    a {
      display: block;
      color: $footer-link;
      margin-bottom: 0.8rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.burger-ftr {
  display: none;
}

@include mobile {
  .burger-ftr {
    display: block;
    content: "+";
    font-size: 14px;
    position: absolute;
    right: 8px;
    bottom: 9px;
    transition: all 100ms;
  }
  .burger-menu {
    opacity: 0;
    transform: scale(0);
    transition: opacity 500ms;
    a {
      display: none;
    }
  }
  .ftr-item_opened {
    .burger-ftr {
      transform: rotate(45deg);
    }
    h3 {
      border: none;
    }
    .burger-menu {
      opacity: 1;
      transform: scale(1);
      a {
        display: block;
        padding: 6px 14px;
        &:last-child {
          padding-bottom: 16px;
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }
}

.item__column:last-child {
  padding-top: 24px;
  @include mobile {
    padding-top: 0;
  }
}

.bootom {
  &__content {
    &:first-child {
      padding-bottom: 8px;
      border-bottom: 1px solid $border-color;
      a {
        color: $link-color;
      }
      @include mobile {
        border: none;
      }
    }
    &:last-child {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
      a {
        color: $footer-link;
      }
      @include mobile {
        flex-direction: column;
      }
    }
  }
}

.content__apple-shop {
  max-width: 60%;
  line-height: 15px;
}

.footer-legal {
  display: flex;
  align-items: center;
  &__copyright {
    margin-right: 30px;
  }
  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }
  @include mobile {
    padding-top: 12px;
    order: 1;
  }
}

.legal-links {
  &__item {
    display: inline-block;
    &:nth-child(-n + 4) {
      border-right: 1px solid $border-color;
      margin-right: 7px;
      padding-right: 10px;
    }
    @include tablet {
      margin-top: 5px;
    }
  }
}

.footer-locale {
  display: flex;
  align-items: center;
  &__flag {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../../assets/images/h_w_6/16.png);
  }
  @include tablet {
    align-items: flex-start;
  }
  @include mobile {
    align-items: center;
    order: 0;
  }
}
