.article-title {
  display: flex;
  &__title {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: rgb(4, 8, 44);
    &_active {
      background-color: rgb(20, 38, 225);
    }
  }
}
