@import "./mixins.scss";

.comment {
  &__description {
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-direction: column;
    }
  }
  &__info {
    display: flex;
    align-items: center;

    @include sm {
      justify-content: flex-end;
    }
  }
  &__delete {
    &:hover {
      color: rgb(255, 0, 0);
      transform: scale(1.2);
    }
  }
  &__text {
    text-align: justify;
    text-indent: 2rem;
    margin-top: 15px;

    @include sm {
      text-indent: 1rem;
    }
  }
}

.time,
.date {
  margin-right: 15px;
}
