* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

.form-for-comments {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  padding: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 7px;
  background-color: rgba(138, 252, 138, 0.726); }

.comment-date {
  text-align: right;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6); }

.user-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .user-block__fullname {
    margin: 15px 0;
    width: 300px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline-color: #43bd43; }
    .user-block__fullname:focus::-webkit-input-placeholder {
      color: transparent; }
    .user-block__fullname:focus:-ms-input-placeholder {
      color: transparent; }
    .user-block__fullname:focus::placeholder {
      color: transparent; }
  .user-block__comment {
    font-family: inherit;
    padding: 10px;
    border: none;
    border-radius: 7px;
    outline-color: #43bd43; }
    .user-block__comment:focus::-webkit-input-placeholder {
      color: transparent; }
    .user-block__comment:focus:-ms-input-placeholder {
      color: transparent; }
    .user-block__comment:focus::placeholder {
      color: transparent; }

.options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-top: 25px; }
  .options__button {
    border: none;
    border-radius: 7px;
    background-color: rgba(51, 211, 51, 0.767);
    padding: 10px 15px;
    color: white;
    outline: none; }
    .options__button:hover {
      background-color: green; }
    .options__button:first-child {
      margin-right: 25px; }
