* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0; }
  .header__caption {
    margin: 10px 0; }

.component {
  margin-bottom: 50px; }
  .component__title {
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto;
    position: relative;
    font-weight: 500; }
  .component__links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    margin: 0 auto; }
  .component__item {
    text-align: center;
    min-width: 200px;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px 30px;
    margin: 20px 10px;
    background-color: rgba(238, 227, 227, 0.466);
    color: black; }

.bottom-line {
  height: 1px;
  width: 100%;
  background-color: grey;
  position: absolute;
  left: 0;
  bottom: -5px; }
