@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8.1px; }

body {
  margin: 0;
  padding: 0;
  background-color: #308af3; }
  @media (max-width: 767.9px) {
    body {
      background-color: transparent; } }

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  margin-top: 150px;
  width: 740px;
  height: 540px;
  border-radius: 6px;
  background-color: #f5fafd; }
  @media (max-width: 767.9px) {
    .wrapper {
      margin: 0;
      width: 100%;
      border-radius: 0;
      height: 100%; } }

.general-btn {
  width: 100%;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: white; }
  @media (max-width: 767.9px) {
    .general-btn {
      border-top-left-radius: 0;
      border-top-right-radius: 0; } }
  .general-btn__button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px; }
    .general-btn__button:first-child {
      background-color: #ff6058; }
    .general-btn__button:nth-child(2) {
      background-color: #ffc130; }
    .general-btn__button:last-child {
      background-color: #28c940; }

.pricing {
  width: 100%;
  padding-top: 28.8px;
  padding-bottom: 34.9px;
  padding-left: 214.4px;
  padding-right: 194.4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 767.9px) {
    .pricing {
      padding: 0;
      padding: 20px; } }
  .pricing__title {
    font-size: 20.9px;
    line-height: 1;
    color: #242f40;
    margin-bottom: 13.9px; }
  .pricing__text {
    font-size: 9.3px;
    line-height: 1.62;
    text-align: center;
    color: #5b6b82;
    margin-bottom: 23.2px; }

.pricing-action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .pricing-action__button {
    width: 116.2px;
    height: 34.9px;
    border: none; }
    .pricing-action__button:first-child {
      border-top-left-radius: 2.3px;
      border-bottom-left-radius: 2.3px;
      background-color: #3ccf8e;
      color: white; }
      @media (max-width: 767.9px) {
        .pricing-action__button:first-child {
          margin-bottom: 10px; } }
    .pricing-action__button:last-child {
      border-top-right-radius: 2.3px;
      border-bottom-right-radius: 2.3px;
      background-color: #e4edf2;
      color: #5b6b82; }
  @media (max-width: 767.9px) {
    .pricing-action {
      -ms-flex-direction: column;
          flex-direction: column; } }

.pricing-items {
  padding: 0 40px;
  padding-bottom: 34.8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 767.9px) {
    .pricing-items {
      -ms-flex-direction: column;
          flex-direction: column;
      padding: 20px; } }

.item {
  z-index: 1;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 171.5px;
  height: 254px;
  background-color: white;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
  padding-top: 39.5px;
  padding-bottom: 29.1px;
  transition-duration: 50ms; }
  @media (max-width: 767.9px) {
    .item {
      width: 50%;
      margin-bottom: 15px; }
      .item:last-child {
        margin-bottom: 0; } }
  @media (max-width: 575.9px) {
    .item {
      width: 85%; } }
  .item__recommended {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    top: 25px;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    width: 70.9px;
    height: 13.4px;
    border-radius: 1.7px;
    background-color: #ffb34b;
    color: white;
    text-transform: uppercase; }
  .item__name-pack {
    font-weight: normal;
    color: #242f40; }
    .item__name-pack_recommended {
      margin-top: 18.6px; }
  .item__price {
    position: relative;
    font-size: 34.9px;
    color: #242f40; }
    .item__price:before {
      content: "$";
      position: relative;
      bottom: 2px;
      margin-right: 2px;
      font-size: 15.1px; }
    .item__price:after {
      content: "/mo";
      position: relative;
      bottom: 2px;
      font-size: 9.3px;
      color: #5b6b82; }
  .item__option {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    height: 56px; }
  .item__button {
    width: 99.4px;
    height: 27.9px;
    font-size: 8.1px;
    color: #5b6b82;
    text-transform: uppercase;
    border-radius: 2.3px;
    border: solid 0.6px #5b6b82;
    background-color: white; }
  .item:hover {
    z-index: 2;
    transition-duration: 50ms;
    -ms-transform: scale(1.1);
        transform: scale(1.1); }
    .item:hover .item__button {
      color: white;
      border-color: #3ccf8e;
      background-color: #3ccf8e; }

.option__text {
  display: -ms-flexbox;
  display: flex; }
  .option__text:before {
    content: "\2713";
    width: 9px;
    height: 9px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 50%;
    border: 1px solid #3ccf8e;
    color: #3ccf8e;
    margin-right: 6.4px; }
