@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url(./assets/fonts/MuseoSansCyrl_500.otf);
  font-weight: 500; }

* {
  box-sizing: border-box; }

html,
button {
  font-family: "MuseoSansCyrl500", Helvetica, sans-serif;
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: #469551; }

.wrapper {
  margin: 0 auto;
  width: 70%; }
  @media (max-width: 767.9px) {
    .wrapper {
      width: 85%; } }
  .wrapper .header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 25px 0; }
    @media (max-width: 767.9px) {
      .wrapper .header {
        -ms-flex-direction: column;
            flex-direction: column; } }
    .wrapper .header > h3 {
      margin-left: 20px; }
      @media (max-width: 767.9px) {
        .wrapper .header > h3 {
          text-align: center;
          margin-top: 20px;
          margin-left: 0; } }
  .wrapper .main > p {
    color: #454545;
    text-decoration: underline; }
  .wrapper .main .links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 25px; }
    .wrapper .main .links .item {
      padding: 5px 0; }
    .wrapper .main .links .exercises {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column; }
    .wrapper .main .links .ul-style > li {
      margin-left: 40px;
      padding: 5px 0; }
  .wrapper .footer {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    color: #454545;
    font-weight: 700; }
    @media (max-width: 767.9px) {
      .wrapper .footer {
        margin-top: 50px; } }
    .wrapper .footer > a {
      color: #0000ff; }
      .wrapper .footer > a:hover {
        color: #00008b; }
